@model DataAccess.Data.Entities.Competencia

<h4>Competencia</h4>
<hr />
<dl class="row">
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.Competencia_Nombre)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Competencia_Nombre)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.IsActive)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Estado)
    </dd>
</dl>