@model DataAccess.Data.Entities.Competencia

@{
    ViewData["Title"] = "Details";
}

<flash dismissable="true" />

<h1>Detalles</h1>

<div>
    <partial name="_CompetenciaDetails" />
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model?.Programa.Programa_Id" class="btn btn-success"><i class="fa-solid fa-arrow-rotate-left"></i> Regresar</a>
</div>
<hr />


@*<partial name="_AddOrEditDialog" />
<partial name="_DeleteDialog" />
*@
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}