@{
    ViewData["Title"] = "NotAuthorized";
}
<div class="col-md-4 offset-3">
    <br />
    <br />
    <img src="~/images/forbiden.png" style="width:600px; height:auto;" />
    <br />
</div>
    <h2 class="text-center">No estas autorizado para realizar esta acción!</h2>