@model IEnumerable<DataAccess.Data.Entities.PeriodoAcademico>

@{
    ViewData["Title"] = "Index";
}

<flash dismissable="true" />

<h1>Periodos Academicos</h1>

<!-- Content Wrapper. Contains page content -->
<div class="container-fluid">
    <div class="card mt-2">
        <div class="card-header text-success">
            <i class="fa fa-book"></i>  <strong>Periodos Academicos</strong>
        </div>
        <div class="card-body">
            <div id="view-all">
                @await Html.PartialAsync("_ViewAllPeriodosAcademicos", Model)
            </div>
        </div>
    </div>
</div>

@*<partial name="_AddOrEditDialog" />
<partial name="_DeleteDialog" />*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/showmodal.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#PeriodosTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "aLengthMenu": [
                    [10, 25, 50, 100, -1],
                    [10, 25, 50, 100, "Todos"]
                ]
            });
        });
    </script>

@*    <script>
        sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Programas/Delete/', false);
    </script>*@
}
