@model MiniSIMCA.Models.EditPeriodoAcademicoViewModel

@{
    ViewData["Title"] = "Update";
}

<h1>Actualizar</h1>

<h4>Periodo Academico</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Periodo_Nombre" class="control-label"></label>
                <input asp-for="Periodo_Nombre" class="form-control" />
                <span asp-validation-for="Periodo_Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Periodo_FechaInicio" class="control-label"></label>
                <input asp-for="Periodo_FechaInicio" class="form-control" />
                <span asp-validation-for="Periodo_FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Periodo_FechaFin" class="control-label"></label>
                <input asp-for="Periodo_FechaFin" class="form-control" />
                <span asp-validation-for="Periodo_FechaFin" class="text-danger"></span>
            </div>
            <div class="form-group form-check mt-2">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Regresar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }